<inca:inca xmlns:inca="http://inca.sdsc.edu/dataModel/inca_2.0">
  <suites>
    <suite>
        <guid>incas://rocks-101.sdsc.edu:6323/sampleSuite</guid>
        <seriesConfigs>
          <seriesConfig>
            <action>add</action>
            <nickname>ant_helloworld_compile_test</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
              </args>
              <context>bash -c &quot;unset CLASSPATH; cluster.admin.ant.unit -help=&quot;no&quot; -log=&quot;3&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;&quot;</context>
              <name>cluster.admin.ant.unit</name>
              <version>4</version>
            </series>
          </seriesConfig>
          <seriesConfig>
            <action>add</action>
            <nickname>ant_version</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
              </args>
              <context>bash -c &quot;unset CLASSPATH; cluster.admin.ant.version -help=&quot;no&quot; -log=&quot;3&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;&quot;</context>
              <name>cluster.admin.ant.version</name>
              <version>2</version>
            </series>
          </seriesConfig>
          <seriesConfig>
            <action>add</action>
            <nickname>gcc_hello_world</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>compiler</name>
                  <value>gcc</value>
                </arg>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>lang</name>
                  <value>c</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
              </args>
              <context>cluster.compiler.any.unit -compiler=&quot;gcc&quot; -help=&quot;no&quot; -lang=&quot;c&quot; -log=&quot;3&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;</context>
              <name>cluster.compiler.any.unit</name>
              <version>2</version>
            </series>
          </seriesConfig>
          <seriesConfig>
            <action>add</action>
            <nickname>gcc_version</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
              </args>
              <context>cluster.compiler.gcc.version -help=&quot;no&quot; -log=&quot;3&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;</context>
              <name>cluster.compiler.gcc.version</name>
              <version>2</version>
            </series>
          </seriesConfig>
          <seriesConfig>
            <action>add</action>
            <nickname>java_hello_world</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>compiler</name>
                  <value>javac</value>
                </arg>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>lang</name>
                  <value>java</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
              </args>
              <context>cluster.compiler.any.unit -compiler=&quot;javac&quot; -help=&quot;no&quot; -lang=&quot;java&quot; -log=&quot;3&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;</context>
              <name>cluster.compiler.any.unit</name>
              <version>2</version>
            </series>
          </seriesConfig>
          <seriesConfig>
            <action>add</action>
            <nickname>java_version</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
              </args>
              <context>cluster.java.sun.version -help=&quot;no&quot; -log=&quot;3&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;</context>
              <name>cluster.java.sun.version</name>
              <version>4</version>
            </series>
          </seriesConfig>
          <seriesConfig>
            <action>add</action>
            <nickname>openssh_version</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
              </args>
              <context>cluster.interactive_access.openssh.version -help=&quot;no&quot; -log=&quot;3&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;</context>
              <name>cluster.interactive_access.openssh.version</name>
              <version>3</version>
            </series>
          </seriesConfig>
          <seriesConfig>
            <action>add</action>
            <nickname>openssl_version</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
              </args>
              <context>cluster.security.openssl.version -help=&quot;no&quot; -log=&quot;3&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;</context>
              <name>cluster.security.openssl.version</name>
              <version>2</version>
            </series>
          </seriesConfig>
          <seriesConfig>
            <action>add</action>
            <nickname>vtk-nvgl_version</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>dir</name>
                  <value></value>
                </arg>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
              </args>
              <context>viz.lib.vtk-nvgl.version -dir=&quot;&quot; -help=&quot;no&quot; -log=&quot;3&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;</context>
              <name>viz.lib.vtk-nvgl.version</name>
              <version>2</version>
            </series>
          </seriesConfig>
          <seriesConfig>
            <action>add</action>
            <nickname>wget_page_test</nickname>
            <resourceSetName>localhost</resourceSetName>
            <schedule></schedule>
            <series>
              <args>
                <arg>
                  <name>page</name>
                  <value>http://cnn.com/index.html</value>
                </arg>
                <arg>
                  <name>help</name>
                  <value>no</value>
                </arg>
                <arg>
                  <name>log</name>
                  <value>3</value>
                </arg>
                <arg>
                  <name>verbose</name>
                  <value>1</value>
                </arg>
                <arg>
                  <name>version</name>
                  <value>no</value>
                </arg>
              </args>
              <context>grid.wget.unit -help=&quot;no&quot; -log=&quot;3&quot; -page=&quot;http://cnn.com/index.html&quot; -verbose=&quot;1&quot; -version=&quot;no&quot;</context>
              <name>grid.wget.unit</name>
              <version>2</version>
            </series>
          </seriesConfig>
        </seriesConfigs>
    </suite>
  </suites>
</inca:inca>
